<!-- app/views/users/home.html.erb -->

<h1>Welcome to Volunteers Around The World</h1>

<%= link_to "Log in as User", "/auth/google_oauth2" %>
<br>
<%= link_to "Log in as Admin", admin_dashboard_path %>
