<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="<%= asset_path('view_events.css') %>">
</head>
<body>
    <div class="container">
        <%= link_to 'Back', events_attended_path, class: 'back-button' %>
        <div class="card">
            <div class="title"><%= @event.name %></div>
            <p class="date">Occurred: <%= @event.date %></p>
        </div>
    </div>
</body>
</html>