h1 {
    color: #333;
    text-align: center;
    font-weight: bold;
    color: black;
}

.section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto; /* Set left and right margins to auto */
    width: 80%;
}

button,
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}
