.countdown {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 30px auto 0;
  background-color: #ffffff;
}

.countdown-container {
  max-width: 1100px; /* Set a maximum width as per your design */
  margin: 0 auto; /* Center the container horizontally */
  margin-top: 120px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.countdown-header {
  text-align: center;
  margin-top: 100px; /* Add margin-top for spacing */
}

.countdown-header h1 {
  font-size: 2.5em; /* Adjust font size as needed */
  color: #000000; /* Set the text color to your desired color */

}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the label and number vertically */
  color: white;
}

.days,
.hours,
.minutes {
    font-size: 6em;
    font-weight: bold;
    background-color: #5a9bec;
    border: 2px solid #4285f4;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px; /* Add spacing between label and number */
}

.days::after,
.hours::after {
  content: ':';
}

/* Optionally, style the labels (days, hours, minutes) */
.days-label,
.hours-label,
.minutes-label {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  margin: 5px 0;
}

.final-word {
  color: black; /* Color for "FINAL" */
}

.event-word {
  color: red; /* Color for "EVENT" */
}

.countdown-word {
  color: black; /* Color for "COUNTDOWN" */
}