.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
  
.event-item.final-countdown-event {
    background-color: #dd99ab;
    border-color: #d32976;
}