body {
    margin: 0;
    background-color: #f1efee;
}

.container{
    display: grid;
    grid-template-columns: 3fr 40fr;
    grid-template-rows: 5fr 70fr;
    height: 90vh;
    padding: 8px;
}

.back-button {
    grid-row: 1;
    grid-column: 0 / 1;
    border-radius: 12px;
    padding: 8px;
    background-color: #500000;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

.card {
    margin: 20vh 20vw;
    background-color: white;
    grid-row: 2;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

.title{
    font-size: 96px;
    margin-bottom: 10vh;
}

.date{
    font-size: 32px;
}